@model WebApplication1.Models.Adjustment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adjustment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workshop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workshop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicianName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicianName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Equipments">Back to List</a>
</div>
