@model IEnumerable<WebApplication1.Models.Adjustment>

@{
    ViewData["Title"] = "Index";
}

<h1>Заявки</h1>

<p>
    <a asp-action="Create">Создать новую заявку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Оборудование</th>
            <th>ФИО наладчика</th>
            <th>Комментарий</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Equipment.NameEq</td> <!-- Предполагается, что вы загружаете оборудование с заявкой -->
                <td>@(item.Worker != null ? item.Worker.WorkerName : "Неизвестно")</td>
                <td>@item.Comments</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
